In [2]:
# assignment 1

In [4]:
# find errors commited

# NameError: name 'Ten' is not defined ( case sensitivity, alphabets assigned are in lower case and uppercase makes a difference)

# TypeError: 'str' object is not callable ( reserved words in python (some words are not to be used as variable names
# as they have another use as in del,or, type... they have a different function.))

#TypeError: unsupported operand type(s) for -: 'int' and 'str' (error as we did not convert YOB in integer. )

# SyntaxError: invalid syntax ( used the input as a str and not convert it into an integer)

# ValueError: invalid literal for int() with base 10: '10.2' ( float is with a decimal, whereas int without...
# we put int as 10.2 which gave an error)

# ValueError: invalid literal for int() with base 10: '50.22' (tried to convert str to int and used a float value without converting)

# ValueError: invalid literal for int() with base 10: '' ( empty str trying to convert in integer error)

In [5]:
# Take input A and B and print their sum, mul, div, square of the nos.

In [9]:
a = 78
b = 86
c = a + b
d = a * b
e = b / d

print(f"the sum of a and b is: {c}")
print(f"if a is multiplied with b : {d}")
print(f"if b is divided by d: {e}")
print(f"if we want we can also multiply a with c like this: {a * c}")

the sum of a and b is: 164
if a is multiplied with b : 6708
if b is divided by d: 0.01282051282051282
if we want we can also multiply a with c like this: 12792

In [10]:
# How many reserve keywords are there in python and why we should not use them as a variable name

# there are about 33 keywords we should not use them as variable as each of them have a special function, if we use it we wont be able to use their right functions what they are assigned for.

In [11]:
# Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [13]:
firstname = input("firstname")
middlename = input("middlename")
lastname = input("lastname")
year_of_birth = int(input("yob"))
age = 2022 - year_of_birth 
place = input("place")
pincode = input("pincode")
date_of_birth = input("date_of_birth")

print(f"""i am practicing python and creating a few email ids:-
{firstname}.{lastname}@gmail.com
{lastname}_{age}@ineuron.ai
{firstname}_{place}{age}@gmail.com""")

ValueError: invalid literal for int() with base 10: '25/07/85'

In [14]:
firstname = input("firstname")
middlename = input("middlename")
lastname = input("lastname")
year_of_birth = int(input("yob"))
age = 2022 - year_of_birth 
place = input("place")
pincode = input("pincode")
date_of_birth = int(input("date_of_birth"))

print(f"""i am practicing python and creating a few email ids:-
{firstname}.{lastname}@gmail.com
{lastname}_{age}@ineuron.ai
{firstname}_{place}{age}@gmail.com""")

ValueError: invalid literal for int() with base 10: '25/07/85'

In [15]:
firstname = input("firstname")
middlename = input("middlename")
lastname = input("lastname")
year_of_birth = int(input("yob"))
age = 2022 - year_of_birth 
place = input("place")
pincode = input("pincode")
date_of_birth = input("date_of_birth")

print(f"""i am practicing python and creating a few email ids:-
{firstname}.{lastname}@gmail.com
{lastname}_{age}@ineuron.ai
{firstname}_{place}{age}@gmail.com""")

i am practicing python and creating a few email ids:-
rahul.dhanani@gmail.com
dhanani_37@ineuron.ai
rahul_spain37@gmail.com

In [16]:
# made an error but recognized it in yob i was inserting str instead of int.

In [17]:
print("""hi my nam is {firstname},
i live in {place},
i am enjoying learning python programming,
i earn 20$ a day but would love to make more""")

hi my nam is {firstname},
i live in {place},
i am enjoying learning python programming,
i earn 20$ a day but would love to make more

In [18]:
# i forgot to use the (F) function.
print(f"""hi my name is {firstname},
i live in {place},
i am enjoying learning python programming,
i earn 20$ a day but would love to make more""")

hi my name is rahul,
i live in spain,
i am enjoying learning python programming,
i earn 20$ a day but would love to make more

In [20]:
# Convert the following -
#"22.4" into integer
#"22" into complex no.

In [21]:
a = "22.4"
a = float(a)
a = int(a)

In [22]:
type(a)

int

In [23]:
a = "22"
a = int(a)
a = a + 2j

In [24]:
type(a)

complex

In [25]:
# hi sir, my name is rahul, i m from spain there is a time diference of 4.30hrs to ist, and i work here 60hrs a week
# i dont get to attend much of your classes but during the week i try to give 2 hrs everynight. i couldnt submit the assignment earlier
# as just yesterday i finished going thru all the classes, can you please let me know how can i do it
# or is it ok if i submit it during the week, i enjoy the classes verymuch thank you for your support.